<article>
  <h3>{{ title }}</h3>

  <h4>Open Table One-Shots</h4>
  <p>Coming Soon!</p>
  <p>Rotating game systems! A variety of genres!</p>
  <p>Join as a player or spectator. All are welcome!</p>

  <h4>Remote Table Top Production</h4>
  <p>Need an exciting set-piece for that final battle or pivotal moment in your home game? Quicksilver Workshop will help make your session one your players won't forget!</p>
  <p>Reclaim your joy in running the game. Let Quicksilver Workshop build the set, place and move miniatures, track condition markers, and set spell effects during combat, so you can enjoy running your game with dedicated production support!</p>

  <h4>Party Package!</h4>
  <p>Book a private adventure session for just you and your party. Quicksilver Workshop will work with you to design and run the game you and your group wants to play!</p>

</article>
