<article>
    <h3>{{ title }}</h3>

    <h4>Open Table One-Shots<span>(Coming soon)</span></h4>
    <p>Rotating game systems! A variety of genres!</p>
    <p>Join as a player or spectator. All are welcome!</p>

    <div style="display: flex; justify-content: center;">
        <div class="divider half-width" role="separator" aria-label="Divider"></div>
    </div>

    <h4>Remote Production Support<span>(Coming soon)</span></h4>
    <p>Quicksilver Workshop is
        your dedicated, remote production solution.</p>
    <p>You could use a virtual table-top for that pivotal game moment or epic final battle. Or, you can see your
        vision come to life with real assembled sets complete with
        miniatures,
        condition
        markers, and spell effects.</p>
    <p>Quicksilver Workshop joins your game session remotely and synchronizes the scene with the moment-to-moment
        action at
        your
        table.</p>
    <p>Focus on your game, not the prep and fiddly bits.</p>

    <div style="display: flex; justify-content: center;">
        <div class="divider half-width" role="separator" aria-label="Divider"></div>
    </div>


    <h4>Party Package!<span>(Coming soon)</span></h4>
    <p>Book a private adventure session for just you and your party. Quicksilver Workshop will work with you to design
        and run the game session you and your group wants to play!</p>
    <p>Pick a theme. Pick a game system. Pick a date.</p>

</article>
