<article>
  <h3>{{ title }}</h3>

  <ul>
    <li>
      <a href="https://en.wikipedia.org/wiki/Appendix_N#Works_listed_in_Appendix_N">Appendix N</a>
    </li>
    <li>
      <a href="https://www.dndbeyond.com/">D&D Beyond</a>
    </li>
    <li>
      <a href="https://goodman-games.com/">Goodman Games</a>
    </li>
    <li>
      <a href="https://www.thearcanelibrary.com/">The Arcane Library</a>
    </li>
    <li>
      <a href="https://www.drivethrurpg.com/">DriveThruRPG</a>
    </li>
    <li>
      <a href="https://donjon.bin.sh/">donjon.bin.sh</a>
    </li>
  </ul>
</article>
