h3 {
  color: var(--quicksilver);
}

article {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 8px;
  margin-top: 1.5rem;
  padding: 1px 13px 1px 20px;

  p {
    color: #666;
  }

  li {
    padding: 12px 0;

    a {
      color: var(--gray-700);
      text-decoration: none;

      &:hover {
        color: var(--gray-900);
        font-weight: bold;
      }
    }

    svg {
      margin-left: 5px;
    }
  }
}
